p {
    text-align: center;
}
ul {
    margin-left: 50px;
    padding-bottom: 16px;
}
h2 {
    color: white;
    text-align: center;
}
h1 {
    text-align: center;
}
h4 {
    text-align: justify;
    padding-left: 50px;
    padding-bottom: 20px;
    text-indent: 35px;
}
h3 {
    padding-left: 50px;
    text-align: center;
    padding-bottom: 20px;
}
figcaption {
    text-align: center;
    font-size: medium;
    font-style: italic;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
}
footer {
    text-align: center;
    background-color: #42A5F5;
    line-height: 50px;
}